
@import "primeicons/primeicons.css";

.pi.caminhao-icon {
  width: 1.2rem;
  height: 1.2rem;
  display: inline-block;
  background-image: url('../icons/caminhao.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  mask: none !important;
  -webkit-mask: none !important;
}
